NET "CLK_50MHZ" LOC = T8;
NET "CLK_50MHZ" IOSTANDARD = LVCMOS33;

NET "VGA_R[0]" LOC = H4;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" LOC = H3;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" LOC = H5;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" LOC = F4;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" LOC = F3;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" LOC = G3;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" LOC = B1;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" LOC = C2;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" LOC = H1;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;

NET "VGA_VSYNC" LOC = A11;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" LOC = B10;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;

# NET "LED" LOC = P11;
# NET "LED" IOSTANDARD = LVCMOS33;

NET "AUDIO_L" LOC="B2" |IOSTANDARD = LVCMOS33 |DRIVE = 16;
NET "AUDIO_R" LOC="A2" |IOSTANDARD = LVCMOS33 |DRIVE = 16;

NET "SRAM_A<0>"  LOC="M2" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<1>"  LOC="M1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<2>"  LOC="N1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<3>"  LOC="P2" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<4>"  LOC="P1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<5>"  LOC="L3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<6>"  LOC="M4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<7>"  LOC="M3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<8>"  LOC="N4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<9>"  LOC="N3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<10>" LOC="C4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<11>" LOC="C3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<12>" LOC="D3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<13>" LOC="E4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<14>" LOC="E3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<15>" LOC="F2" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<16>" LOC="F1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<17>" LOC="G1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<18>" LOC="H2" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;

NET "SRAM_D<0>" LOC="J6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<1>" LOC="L5" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<2>" LOC="K5" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<3>" LOC="M6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<4>" LOC="P4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<5>" LOC="R3" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<6>" LOC="T4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<7>" LOC="N6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<8>" LOC="E2" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<9>" LOC="C1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<10>" LOC="G5" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<11>" LOC="F6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<12>" LOC="F5" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<13>" LOC="G6" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<14>" LOC="D1" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<15>" LOC="A4" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;

NET "SRAM_WE_n" LOC="M5" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_CE_n_o0" LOC='R2'  | IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_CE_n_o1" LOC='R1'  | IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_CE_n_o2" LOC='M10' | IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_CE_n_o3" LOC='B3'  | IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_OE_n" LOC='E1'     | IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;

# Keyboard and mouse
NET "clkps2" LOC="K3"    |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 1 DIN
NET "dataps2" LOC="J3"   |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 5 DIN
# NET "mouseclk" LOC="K6"  |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 6 DIN
# NET "mousedata" LOC="J4" |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 2 DIN

# SD/MMC
NET "SD_nCS" LOC="L1" |IOSTANDARD = LVCMOS33 |PULLUP;
NET "SD_CK"  LOC="K1" |IOSTANDARD = LVCMOS33;
NET "SD_DI" LOC="K2" |IOSTANDARD = LVCMOS33 |PULLUP;
NET "SD_DO" LOC="J1" |IOSTANDARD = LVCMOS33 |PULLUP;

# JOYSTICK
# NET "joyup"    LOC="R14"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY6
# NET "joydown"  LOC="T14"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY4
# NET "joyleft"  LOC="R15"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY3
# NET "joyright" LOC="P16"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY2
# NET "joyfire"  LOC="P11"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY7
# NET "joybtn2"  LOC="P15"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY5

# Timings
# Timing constraints
NET "CLK_50MHZ" TNM_NET = "CLK_50MHZ";
TIMESPEC TS_clk50 = PERIOD "CLK_50MHZ" 20ns HIGH 50%;

PIN "dcm_system/clkout1_buf.O" TNM = "clk_100";
PIN "dcm_system/clkout2_buf.O" TNM = "clk_50";
PIN "dcm_system/clkout3_buf.O" TNM = "clk_28_571";

TIMESPEC TS_IGNORE1 = FROM "clk_100" TO "clk_28_571" TIG ;
TIMESPEC TS_IGNORE2 = FROM "clk_50"  TO "clk_28_571" TIG ;
TIMESPEC TS_IGNORE3 = FROM "clk_28_571" TO "clk_100" TIG ;
TIMESPEC TS_IGNORE4 = FROM "clk_28_571" TO "clk_50" TIG ;

PIN "dcm_system/clkout4_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;