NET "CLK_50MHZ" LOC = P55;
NET "CLK_50MHZ" IOSTANDARD = LVCMOS33;

NET "VGA_R[0]" LOC = P43;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" LOC = P44;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" LOC = P46;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "VGA_R[3]" LOC = P47;
NET "VGA_R[3]" IOSTANDARD = LVCMOS33;
NET "VGA_R[4]" LOC = P50;
NET "VGA_R[4]" IOSTANDARD = LVCMOS33;
NET "VGA_R[5]" LOC = P51;
NET "VGA_R[5]" IOSTANDARD = LVCMOS33;

NET "VGA_G[0]" LOC = P27;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" LOC = P29;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" LOC = P32;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[3]" LOC = P33;
NET "VGA_G[3]" IOSTANDARD = LVCMOS33;
NET "VGA_G[4]" LOC = P35;
NET "VGA_G[4]" IOSTANDARD = LVCMOS33;
NET "VGA_G[5]" LOC = P40;
NET "VGA_G[5]" IOSTANDARD = LVCMOS33;

NET "VGA_B[0]" LOC = P15;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" LOC = P14;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" LOC = P21;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;
NET "VGA_B[3]" LOC = P24;
NET "VGA_B[3]" IOSTANDARD = LVCMOS33;
NET "VGA_B[4]" LOC = P17;
NET "VGA_B[4]" IOSTANDARD = LVCMOS33;
NET "VGA_B[5]" LOC = P23;
NET "VGA_B[5]" IOSTANDARD = LVCMOS33;

NET "VGA_VSYNC" LOC = P58;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" LOC = P57;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;

NET "LED" LOC = P11;
NET "LED" IOSTANDARD = LVCMOS33;

NET "AUDIO_L" LOC = P10;
NET "AUDIO_L" IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC = P9;
NET "AUDIO_R" IOSTANDARD = LVCMOS33;

NET "SRAM_A<0>"  LOC="P141" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<1>"  LOC="P139" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<2>"  LOC="P137" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<3>"  LOC="P134" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<4>"  LOC="P133" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<5>"  LOC="P120" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<6>"  LOC="P118" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<7>"  LOC="P116" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<8>"  LOC="P114" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<9>"  LOC="P112" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<10>" LOC="P104" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<11>" LOC="P102" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<12>" LOC="P101" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<13>" LOC="P100" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<14>" LOC="P111" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<15>" LOC="P131" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<16>" LOC="P138" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<17>" LOC="P140" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<18>" LOC="P142" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<19>" LOC="P105" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_A<20>" LOC="P143" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;

NET "SRAM_D<0>" LOC="P132" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<1>" LOC="P127" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<2>" LOC="P124" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<3>" LOC="P123" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<4>" LOC="P115" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<5>" LOC="P117" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<6>" LOC="P119" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;
NET "SRAM_D<7>" LOC="P126" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;

NET "SRAM_WE_n"  LOC="P121" |IOSTANDARD = LVCMOS33 |DRIVE = 4 |SLEW = "FAST" |NODELAY;

# Keyboard and mouse
NET "clkps2" LOC="P99"    |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 1 DIN
NET "dataps2" LOC="P98"   |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 5 DIN
# NET "mouseclk" LOC="P95"  |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 6 DIN
# NET "mousedata" LOC="P97" |IOSTANDARD = LVCMOS33 |PULLUP |DRIVE = 24;  # pin 2 DIN

# SD/MMC
NET "SD_nCS" LOC="P59" |IOSTANDARD = LVCMOS33 |PULLUP;
NET "SD_CK"  LOC="P75" |IOSTANDARD = LVCMOS33;
NET "SD_DI" LOC="P74" |IOSTANDARD = LVCMOS33 |PULLUP;
NET "SD_DO" LOC="P78" |IOSTANDARD = LVCMOS33 |PULLUP;

# JOYSTICK
# NET "joyup"    LOC="P1"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY6
# NET "joydown"  LOC="P5"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY4
# NET "joyleft"  LOC="P6"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY3
# NET "joyright" LOC="P7"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY2
# NET "joyfire"  LOC="P2"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY7
# NET "joybtn2"  LOC="P8"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY5

# Timings
# Timing constraints
NET "CLK_50MHZ" TNM_NET = "CLK_50MHZ";
TIMESPEC TS_clk50 = PERIOD "CLK_50MHZ" 20ns HIGH 50%;

PIN "dcm_system/clkout1_buf.O" TNM = "clk_100";
PIN "dcm_system/clkout2_buf.O" TNM = "clk_50";
PIN "dcm_system/clkout3_buf.O" TNM = "clk_28_571";

TIMESPEC TS_IGNORE1 = FROM "clk_100" TO "clk_28_571" TIG ;
TIMESPEC TS_IGNORE2 = FROM "clk_50"  TO "clk_28_571" TIG ;
TIMESPEC TS_IGNORE3 = FROM "clk_28_571" TO "clk_100" TIG ;
TIMESPEC TS_IGNORE4 = FROM "clk_28_571" TO "clk_50" TIG ;

PIN "dcm_system/clkout4_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;